*.tmp
# Word temporary
~$*.doc*

# Word doc
*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# Excel files
*.xlsx
*.xls

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# csv
*.csv

.vscode/*

# virtual enviroment
venv/* 
bin/* 
lib/* 
pyvenv.cfg


# output
tmp/*

# csv
*.csv